@charset "utf-8";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div,
p,
span {
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
dd,
dl,
dt,
li,
ol,
ul {
  list-style: none;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
a {
  text-decoration: none;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  color: #222;
}
// 그린 컬러 (채도높음)
color {
  color: #5a827e;
  color: #84ae92;
  color: #b9d4aa;
  color: #faffca;
}
// 그린 컬러 (채도낮음)
color {
  color: #819a91;
  color: #a7c1a8;
  color: #d1d8be;
  color: #eeefe0;
}

.pc-only {
  display: block;
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.mo-only {
  display: none;
}
.mo-only {
  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.wrap {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  height: 100vh;

  .header-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 9;
    color: #000;
    transition: color 0.3s ease;
    background-color: transparent;

    &.scrolled {
      background: gold;
      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      height: 72px;
    }
    @include mobile {
      height: 80px;
      position: fixed;
    }
    .header-inner {
      padding: 25px 0px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      @include mobile {
        flex-direction: column;
      }
      .header-name {
        font-size: 16px;
        font-weight: 600;
        width: 120px;
        display: flex;
        align-items: center;
        line-height: 1.1;
        padding-left: 30px;
      }
      .desc {
        font-size: 14px;
        line-height: 1.3;
        padding-left: 30px;
        @include tablet {
          padding-left: 30px;
        }
      }
    }
  }
  .h-menu-btn {
    position: fixed;
    top: 24px;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 103;
    border: none;
    background: none;
    cursor: pointer;
    .h-menu-btn__line {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      left: 0;
      background: #727d73;
      transition: all 0.7s ease;
    }
    .h-menu-btn__line:nth-of-type(1) {
      top: 6px;
    }

    .h-menu-btn__line:nth-of-type(2) {
      top: 12px;
    }

    &.active {
      .h-menu-btn__line:nth-of-type(1) {
        transform: rotate(45deg);
        top: 9px;
      }

      .h-menu-btn__line:nth-of-type(2) {
        transform: rotate(-45deg);
        top: 9px;
      }
    }
  }

  // 메뉴
  .h-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    pointer-events: none;
    transition: opacity 1s ease;
    overflow: hidden;
    @include mobile {
      flex-direction: column;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
    .h-menu-left,
    .h-menu-right {
      transition: transform 1s ease, opacity 1.2s ease;
      opacity: 0;
      will-change: transform, opacity;
    }
    .h-menu-left {
      width: 100%;
      background: #fff;
      transform: translateY(-100px);
      @include mobile {
        height: 100vh;
      }
      .memu-img-container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background: #d0ddd0;
        @include mobile {
          height: 100%;
        }
        .page-desc {
          display: none;
          @include mobile {
            width: 100%;
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            // backdrop-filter: sepia(50%);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 12px;
          }
          ul {
            li {
              &:nth-child(1) {
                color: #fff;
                font-size: 13px;
                margin-bottom: 3px;
              }
              &:nth-child(2) {
                color: #222;
                font-size: 14px;
                margin-bottom: 17px;
                line-height: 1.3;
              }
              a {
                img {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
        img {
          position: absolute;
          object-fit: contain;
          left: -30px;
          width: auto;
          height: 100%;
        }
      }
    }
    .h-menu-right {
      width: 100%;
      background: #fff;
      position: relative;
      transform: translateY(100px);

      @include mobile {
        display: none;
      }
      .page-desc {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 20px;
        width: 300px;
        height: 300px;
        @include mobile {
          background: #333;
          opacity: 0.5;
        }
        ul {
          li {
            &:nth-child(1) {
              color: #84ae92;
              font-size: 14px;
              margin-bottom: 3px;
            }
            &:nth-child(2) {
              color: #222;
              font-size: 17px;
              margin-bottom: 17px;
              line-height: 1.3;
            }
            a {
              img {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
    &.active {
      .h-menu-left,
      .h-menu-right {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  .h-menu.active {
    display: flex;
  }
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .main-left {
      width: 50%;
      padding: 100px 30px 0 30px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        background: #fff;
      }
      @include tablet {
        padding: 100px 30px 50px 30px;
      }
      @include mobile {
        width: 100%;
        padding: 100px 10px 0 10px;
      }

      .item-grid-container {
        gap: 150px 30px;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(5, 1fr);
        @include desktop-medium {
          grid-template-columns: repeat(4, 1fr);
          gap: 30px 10px;
        }
        @include desktop-small {
          grid-template-columns: repeat(3, 1fr);
          gap: 30px 10px;
        }
        @include tablet {
          grid-template-columns: repeat(2, 1fr);
          gap: 80px 30px;
        }
        @include mobile {
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
        }
        .i-grid {
          width: 150px;
          min-height: 100px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: flex-start;
          @include desktop-medium {
            width: 130px;
            min-height: 100px;
          }
          @include mobile {
            width: 100%;
            height: auto;
            min-height: 90px;
            margin-bottom: 20px;
          }
          .i-grid-num {
            font-size: 12px;
            color: #222;
            margin-right: 5px;
            width: 14px;
            @include mobile {
              font-size: 9px;
            }
          }
          .i-grid-img {
            width: 130px;
            min-height: 100px;
            height: 80px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            filter: grayscale(94%) brightness(0.9);
            @include mobile {
              width: 100%;
              height: 100%;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.8);
              z-index: 0;
              opacity: 0;
              transition: all 0.4s ease;
            }
            &::before {
              content: "+";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 28px;
              color: #d0ddd0;
              z-index: 1;
              opacity: 0;
              transition: all 0.4s ease;
              pointer-events: none;
            }

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              height: 100%;
              width: auto;
              transform: translate(-50%, -50%);
              object-fit: cover;
              z-index: -1;
              @include mobile {
                width: 100%;
                height: 100%;
              }
            }
            &:hover::after,
            &:hover::before {
              opacity: 1;
            }
          }
        }
      }
    }
    .main-right {
      width: 50%;
      background: url(/image/papergreen2.jpg);
      background-size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      // background-attachment: fixed;
      @include mobile {
        display: none;
      }
      .inner {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        .show-img {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          position: relative;
          // overflow: hidden;
          height: auto;
          gap: 30px;
          .img-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.5s ease;
            position: relative;
            &.active {
              opacity: 1;

              img {
                animation: curveImg 1s ease forwards;
              }
            }
            .img-desc {
              font-size: 34px;
              font-weight: 500;
              position: absolute;
              bottom: -100px;
              .year-wrap {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                span {
                  display: block;
                  color: #444;
                }
                .row-line {
                  width: 200px;
                  height: 3px;
                  background: #444;
                  display: flex;
                  margin: 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes curveImg {
  from {
    width: 80%;
    border-radius: 100% 0 100% 0;
    opacity: 0;
  }
  to {
    width: 70%;
    border-radius: 0;
    opacity: 1;
  }
}
