@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div,
p,
span {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
dd,
dl,
dt,
li,
ol,
ul {
  list-style: none;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
a {
  text-decoration: none;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

.green {
  color: #2c614f;
}
.gray {
  color: #5e5e5e;
}

#wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}


